* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

.header {
  width: 100vw;
  background-color: black;
}

nav {
  position: fixed;
  top: 0px;
}

.header .menu {
  padding-left: 50px;
  list-style-type: none;
}

.header .menu li {
  padding-left: 50px;
  display: inline;
  line-height: 50px;
}

.aboutus {
  padding: 30px 0 30px 40px;
  background-color: #c6bfbf;
}

.aboutus a {
  color: blue;
}

.aboutus h1 {
  padding: 30px 0;
  background-color: #c6bfbf;
}

.body {
  width: 100vw;
}

.body div {
  padding: 20px 60px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.body div p {
  padding: 0px 20px;
  font-size: 20px;
}

.connect {
  background-color: #0b4d14;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  
}

.connect .cmenu {
  padding-left: 50px;
  list-style-type: none;
}

.connect .cmenu li {
  display: inline;
  line-height: 40px;
  padding-left: 30px;
}

.connect .social {
  padding-right: 60px;
  list-style-type: none;
}

.connect .social li {
  padding-right: 20px;
  display: inline;
  line-height: 40px;
}